NODE_ENV=development # production/development
PORT=4000

# Database Config
# Dev
DB_HOST_DEV=localhost
DB_PORT_DEV=5432
DB_USERNAME_DEV=user
DB_PASSWORD_DEV=password
DB_NAME_DEV=db_name

# Production
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# JWT Config
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_TOKEN_TTL=
JWT_REFRESH_TOKEN_TTL=
JWT_ISSUER=
JWT_AUDIENCE=

BCRYPT_SALT_ROUNDS=10

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=

# Reset password
APP_RESET_PASSWORD_URL=
PASSWORD_RESET_TOKEN_TTL=1800
BRAND_LOGO_URL=