NODE_ENV=development # production/development
PORT=4000

# Database Config
# Dev
DB_HOST_DEV=localhost
DB_PORT_DEV=5432
DB_USERNAME_DEV=user
DB_PASSWORD_DEV=password
DB_NAME_DEV=db_name

# Production
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# Jwt Config
JWT_SECRET=
JWT_TOKEN_AUDIENCE=
JWT_TOKEN_ISSUER=
JWT_ACCESS_TOKEN_TTL=
JWT_REFRESH_TOKEN_TTL=